{% extends 'tem_inheritance/base.html' %}

{% load static %}

{% block content %}
<br><br>

<img src="{% static 'tem_inheritance/wallpaper.png' %}" style="height: 800px; width: 100%; ">
<br> <br>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
        {% for pep in people %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ pep.name }}</td>
        <td>{{ pep.age }}</td>
        <td>{{ pep.address }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}