<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- internal css
    <style>
        h2{
            color: blueviolet;
        }
    </style> -->
</head>
<body style="background-color: lightblue;">
    <!-- <h1 style="color: rgb(27, 4, 74);">Student List</h1> -->
    <h1>Student List</h1>
    <h2>List of students</h2>
    <ol>
        <li>Prativa</li>
        <li>Aasha</li>
    </ol>
</body>
</html>