{% extends 'tem_inheritance/base.html' %}

{% block content %}

<h2 style="font-family: cursive;"> Class Room </h2>

<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Class Name</th>
            <th scope="col">Student Name</th>
            
        </tr>
    </thead>

    <tbody>
        {% for classroom in classrooms %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ classroom.name }}</td>
            <td>{{ classroom.classroom_students.all }}</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>
<h1>Student Details</h1>
<table class="table table-bordered border-primary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Bio</th>
        <th scope="col">Contact</th>
        <th scope="col">Roll No</th>
        <th scope="col">Class name</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ student.name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.address }}</td>
        <td>{{ student.bio }}</td>
        <td>{{ student.studentprofile.contact }}</td>
        <!-- studentprofile here is a related name -->
        <td>{{ student.studentprofile.roll_no }}</td>
        <td>{{ student.classroom.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}