{% extends 'tem_inheritance/base.html' %}

{% block content %}

<h2 style="font-family: cursive;">Student profile </h2>

<table class="table table-bordered border-primary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Contact</th>
        <th scope="col">Roll No</th>
        
      </tr>
    </thead>

    <tbody>
        {% for profile in profiles %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ profile.student.name }}</td>
        <td>{{ profile.contact }}</td>
        <td>{{ profile.roll_no }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}